.layout{
  overflow: hidden;
}
.layout-header{
  border-bottom: 1px solid #dddee1;
  padding: 20px;
}
.layout-content{
  margin: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
}
.layout-content-main{
  padding: 0px;
}

.flex1{
  flex: 1;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-row{
  display: flex;
  flex-direction: row;
}

.fs14{
  font-size: 14px;
}

.mt20{
  margin-top: 20px;
}
.mb20{
  margin-bottom: 20px;
}
.m20{
  margin: 20px;
}
.ml15{
  margin-left: 15px;
}
.fs{
  font-size: 14px;
  color: #888888;
}
.width75{
  width: 75px;
}
.width200{
  width: 200px;
}
.overflow-y{
  overflow-y: auto;
}
.line-bottom{
  border-bottom: 1px solid #dddee1;
}

/*流水布局 元素默认宽度300*/
.layout-flow-box{
  margin-left: -15px;
}
.layout-flow-box li{
  border: 1px solid #dddee1;
  border-radius: 5px;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 300px;
  transition: background-color .2s linear,border .2s linear;
  cursor: pointer;
}
.layout-flow-box li:hover{
  border-color: lightblue;
}
/*图标圆圈*/
.layout-c-title .circle{
  border-radius: 15px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #2d8cf0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin-right: 15px;
}
.clearfix:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both
}
.clearfix {
  zoom: 1;
}

.gray{
  color: darkgray;
}
.nodatas{
  flex: 1;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}
