@charset "utf-8";
@import "common";
@import "extend";
@import "mixin";


html, body, .app{
  -webkit-font-smoothing: antialiased !important;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body{
  font: $font_family;
  color: $bk4;
  background: $white;
  @include position(relative);
}
.header{
  height: 50px;
  background: $blue;
}
.logoBox{
  @include position(relative);
  padding: 10px 15px 5px 15px;;
  color: $white;
  font-size: $dis18;
  width: 280px;
  display: inline-block;
}
.header_menu{
  display: inline-block;
  color: $white;
  font-size: $dis14;
  padding: 10px 15px 5px 15px;;
}
.header_menu:hover{
  color: $white;
  background: #2566d1;
  text-decoration: none;
}

.main{
  @include position(absolute);
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  //@include position(relative);
}

.flexible{
  width:100%;
  padding:8px 0 6px 0;
  background: $grayf0;
}
.flexible_box{
  width:18px;
  height:18px;
  margin:0 auto 0 auto;
  cursor: pointer;
}
.flexible_box{
  .rotate90{
    transform:rotate(90deg);
    display:block;
  }
}

.navBar-flexible{
    width:55px !important;
    color: #017fe1 !important;
}
.api-container-flexible{
    left:55px !important;
}



.navBar{
  overflow: hidden;
  @include position(absolute);
  width: 160px;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid $grayd;
  background: $grayf9;
  overflow-y: auto;
}
#navBar.navBar{
  overflow-y: hidden;
}

.toolTips{
  @include position(absolute);
  left: 65px;
  background: $blue;
  padding: $dis8 $dis15;
  border-radius: $dis2;
  color: $white;
  opacity: 0.9;
  i{
    @include position(absolute);
    left: -$dis5;
    width: 0;
    height: 0;
    border-top: $dis3 solid transparent;
    border-right: $dis5 solid $blue;
    border-bottom: $dis3 solid transparent;
  }
}

.api_container{
  @include position(absolute);
  left: 160px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.navList{
  width:160px;
  li{
    line-height: $dis20;
    a{
      display: block;
      margin: 0;
      font-size: $dis14;
      text-decoration: none;
      em{
        cursor: pointer;
        font-size: $dis20;
        margin-left: $dis5;
        color: $blue;
        &:hover{
          color: $gray6;
        }
        &:active{
          color: $blue00;
        }
      }
    }
    .rotate-270{
        transform:rotate(270deg);
        display: inline-block;
    }
    .navTreeBox{
      //padding: $dis10 0 $dis15 $dis20;
      background: $white;
    }

  }
  >li{
    >a{
      @include position(relative);
      padding: $dis10 $dis20;
      vertical-align: text-bottom;
      border-top: 1px solid #ddd;
      color: $gray58;
      cursor: default;
      i{
        margin-right: $dis18;
        font-size: $dis17;
        color: $gray96;
      }
    }
    >ul{
      background: $white;
      >li{
        >a{
          padding: 5px 0px;
          padding-left: 44px;
          background: none;
          color: $gray8;
          transition: background 300ms ease-out;
        }
        &.active, &:hover{
          >a{
            color: $blue !important;
            background: $grayf1 !important;
          }
        }
      }
      &.firstNav{
        >li{
          >a{
            padding-left: $dis20;
            padding-top: $dis10;
            padding-bottom: $dis10;
            i{
              margin-right: $dis20;
            }
          }
        }
      }
    }
    &.active{
      >a{
        background: $blue;
        color: $white;
      }
    }
    &:first-child{
      >a{
        border-top: none;
      }
    }
  }
}

.pageMain{
  padding: $dis20;
  @include position(relative);
}

.inputBox{
  @include position(relative);
  display: inline-block;
  vertical-align: middle;
  input{
    padding-left: $dis24;
  }
}
.search{
  color: $gray9;
  @include position(absolute);
  left: $dis5;
  top: 10px;
}
.data-table-list{
  .ivu-table-row{
    a.colorgray{
      color: $bk4;
    }
    h5{
      margin: 0;
    }
    .imgBox{
      margin: 0px 15px;
      i{
        background: $grayf3;
      }
    }
    &:nth-child(even){
      .imgBox{
        i{
          background: $yellow;
        }
      }
    }
    &:nth-child(1){
      .imgBox{
        i{
          background: $redfe;
        }
      }
    }
  }
}
.tableBox{
  margin-top: $dis10;
  width: 100%;
  border: 1px solid $grayd8;
  margin-bottom: $dis20;
  .tableList{
    margin: 0;
    dt, dd{
      .listSpan{
        @include float(left);
        min-height:1px;
      }
    }
    dt{
      padding: $dis8;
      background: $grayf3;
      font-size: $dis12;
      color: $gray3a;
    }
    dd{
      border-bottom: 1px solid $grayf3;
      padding: $dis15 $dis8;
      a.colorgray{
        color: $bk4;
      }
      h5{
        margin: 0;
      }
      .imgBox{
        margin: 0px 15px;
        i{
          background: $grayf3;
        }
      }
      &:nth-child(even){
        .imgBox{
          i{
            background: $yellow;
          }
        }
      }
      &:nth-child(2){
        .imgBox{
          i{
            background: $redfe;
          }
        }
      }
      span{
        /*display: inline-block;*/
        word-wrap: break-word;
      }

    }
  }
}
.imgBox{
  margin-right: $dis10;
  i{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    line-height: 36px;
    @include textalign(center);
    font-style: normal;
    font-size: $dis18;
    display: inline-block;
    cursor: default;
    overflow: hidden;
    img{
      width: 36px;
      height: 36px;
    }
  }
}
.detailBox{
  cursor: pointer;
  margin-left: 70px;
}

.width45{
  width: 45%;
}
.width50{
  width: 50%;
}
.width85{
  width: 85%;
}
.width35{
  width: 35%;
}
.width30{
  width: 30%;
}
.width20{
  width: 20%;
}
.width15{
  width: 15%;
}
.width10{
  width: 10%;
}
.width12{
  width: 12%;
}
.width5{
  width: 5%;
}
.width8{
  width: 8%;
}
.width96{
  width: 98%;
}
.width100{
  width: 100%;
}

.textalignL{
  @include textalign(left);
}
.textalignC{
  @include textalign(center);
}
.textalignR{
  @include textalign(right);
}

h2{
  font-size: $dis22;
}
.selectPar{
  @include float(left);
  @include position(relative);
  .selectBox{
    @include position(absolute);
    left: 15px;
    right: 15px;
    top: 34px;
    background: $white;
    z-index: 4;
    li{
      border: 1px solid $grayd9;
      border-top: none;
      padding: $dis5 $dis5;
      &:hover{
        background: $grayf9;
      }
    }
  }
}







//常用的颜色
.colorBlue{
  color: $blue;
}
.colorRed{
  color: $rede0;
}

//bg color
.bgredfe{
  background: $orangeec;
  color: $white;
}


.btn-api{
  color: $gray58;
  margin-right: $dis5;
  display: inline-block;
  &:last-child{
    i{
      position: relative;
      bottom: -2px;
    }
  }
}
/*按钮*/
.btn-api{
  padding: $dis8 $dis10;
  background: #fff;
  border: 1px solid $grayd;
  border-radius: $dis3;
  cursor: pointer;
  transition: background 300ms ease-out;
  &:hover{
    background: $grayf3;
  }
}



////蓝色
//.btnBlue{
//  @include button($dis10, 32px, $blue, $white, $dis14);
//}
//.btnBlue:hover{
//  background: $blue00;
//}
////黑灰色
//.btnGray{
//  @include button($dis10, 32px, $gray3a, $white, $dis14);
//  &:hover{
//    @include button($dis10, 32px, $gray26, $white, $dis14);
//  }
//}
//
////灰色
//.btnGrayer{
//  @include button($dis10, 32px, $gray8, $white, $dis14);
//  &:hover{
//    @include button($dis10, 32px, $gray9, $white, $dis14);
//  }
//}
//
////红色
//.btnRed{
//  @include button($dis10, 32px, $rede0, $white, $dis14);
//  &:hover{
//    @include button($dis10, 32px, $rede02, $white, $dis14);
//  }
//}
//
////不可用
//.btnDisable{
//  @include button($dis10, 32px, $grayd8, $gray9, $dis14);
//  cursor: not-allowed;
//  &:hover{
//    @include button($dis10, 32px, $grayd8, $gray9, $dis14);
//    cursor: not-allowed;
//  }
//}
//
///*input*/
//.inputstyle{
//  @include input();
//}
//
///*textarea*/
//.textareaStyle{
//  @include  textarea();
//  width: 98%;
//}
//
//
//.disabledSty{
//  background: 1px solid $grayf9;
//  color: $gray9;
//  cursor: not-allowed;
//  background: $grayf1;
//}

.back{
  @include position(absolute);
  top: $dis20;
  right: $dis30;
  font-size: $dis30;
  color: $gray96;
  cursor: pointer;
  z-index: 3;
  transition: color 300ms ease-out;
  &:hover{
    text-decoration: none;
    color: $gray3a;
  }

}

.nodatasTable{
  @include textalign(center);
  padding: $dis5 0;
  color: $gray9;
}

.breadall{
  word-wrap: break-word;
  word-break: normal;
}

.ellipsisOver{
  overflow:hidden;word-break:keep-all;text-overflow:ellipsis;white-space:nowrap;
}


//.navList li{
//  position: relative;
//  em{
//    position: absolute;
//    right: -50px;
//    top: 5px;
//  }
//}

