@charset "utf-8";

//$font_family:400 16px/24px "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","å¾®è½¯é›…é»‘",Arial,sans-serif;
$font_family:400 13px Tahoma,"Microsoft YaHei";

$dis2: 2px;
$dis3: 3px;
$dis4: 4px;
$dis5: 5px;
$dis6: 6px;
$dis8: 8px;
$dis9: 9px;
$dis10: 10px;
$dis12: 12px;
$dis13: 13px;
$dis14: 14px;
$dis15: 15px;
$dis16: 16px;
$dis17: 17px;
$dis18: 18px;
$dis20: 20px;
$dis22: 22px;
$dis24: 24px;
$dis26: 26px;
$dis28: 28px;
$dis30: 30px;

$bk: #000000;
$bk4: #444;

$green: #10a54a;

$blue: #017fe1;
$blue00: #0060ff;

$white: #ffffff;

$grayd: #ddd;
$grayf9: #f9f9f9;
$gray26: #262a39;
$gray58: #585858;
$grayd8: #d8d8d8;
$grayf1: #f1f5f9;
$gray33: #333333;
$grayf3: #f3f3f3;
$grayf0: #f0f0f0;
$gray8: #888888;
$gray6: #666666;
$gray9: #999999;
$grayd9: #d9d9d9;
$gray3a: #3a3e4e;
$gray96: #969696;
$graycc: #cccccc;

$yellow: #ffffc9;

$rede0: #e02222;
$rede02: #E0220D;
$redfe: #fee4e4;

$orange: #e96900;
$orangeec:#ec971f;