@charset "utf-8";

@mixin float( $value ){
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  float: $value;
}

@mixin radius( $value ){
  -webkit-border-radius: $value;
  border-radius: $value;
}

@mixin clearfix{
  content: "\200b";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@mixin botton( $value1, $value2){
  text-align: center;
  display: inline-block;
  padding: 0 $value1;
  line-height: $value2;
  height: $value2;
  outline: none;
  border: none;
}