@charset "utf-8";
@import "common.scss";

@mixin float( $value ){
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
  float: $value;
}

@mixin position( $value ){
  position: $value;
}

@mixin textalign( $value ){
  text-align: $value;
}

@mixin radius( $value ){
  -webkit-border-radius: $value;
  border-radius: $value;
}

@mixin clearfix{
  content: "\200b";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@mixin input(){
  -webkit-appearance: none !important;
  color: $gray33;
  outline: 0;
  height: 31px;
  padding: 0 $dis6;
  line-height: $dis20;
  font-size: $dis14;
  font-weight: normal;
  background-color: #ffffff;
  border: 1px solid $grayd9;
  width: 200px;
}
@mixin button($value, $value2, $value3, $value4, $value5){
  text-align: center;
  display: inline-block;
  padding: 0 $value;
  line-height: $value2;
  height: $value2;
  outline: none;
  border: none;
  background: $value3;
  color: $value4;
  font-size: $dis14;
  cursor: pointer;
  transition: background 300ms ease-out;
}

@mixin textarea(){
  border: 1px solid $grayd9;
  outline: 0;
  padding: 0 $dis6;
  line-height: $dis20;
}

@mixin bg($blue){
  background: random();
}

